#title {
    color: #313131;
    margin: 90px;
    font-size: 40px;
    text-align: center;
    font-family: 'Supermercado One', cursive;
}
#about {
    color: #414141;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#side-block {
    margin-top: 90px;
}
a {
    margin-left: 20px;
    margin-right: 20px;
    color: #525252;
}
